:root {
  --el-color-primary: #006cc8;
  --el-color-primary-light-3: #337eb8;
  --el-color-primary-light-5: #6699cc;
  --el-color-primary-light-7: #99b8d9;
  --el-color-primary-light-9: #ccd9e6;
  --el-color-primary-dark-2: #004d8f;

  // Menu theme
  --el-menu-bg-color: #f6f8fa;
  --el-menu-text-color: #333333;
  --el-menu-hover-bg-color: #e8f3fa;  /* 原来的选中状态颜色 */
  --el-menu-active-text-color: var(--el-color-primary);
  --el-menu-item-hover-fill: #e8f3fa;  /* 与hover背景色保持一致 */
  --el-menu-item-active-fill: #eaedf0;  /* 原来的hover颜色 */
}
